<section class="section_messages">
	<div class="container">
		<div class="col-md-4 sidebar message_sidebar sidebar_left box">
			<div class="connected_users">
				<h4>Recent</h4>
				<ul class="connected_users">
					<li ng-repeat="connUser in connUsers">
						<a ng-class="{selected: connUser.name === receiver}" href="#/messages/{{connUser.name}}">
							{{connUser.name}} <span ng-show="connUser.has_msg" class="chat_icon fa fa-comment"></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-8 message_body rightside_body">
			<div class="box">
				<h3>{{receiver}}</h3>
				<div class="text-danger">{{err_msg}}</div>
				<div class="all_messages">
					<div class="single_message" ng-class="{receiver: msg._receiver === receiver}" ng-repeat="msg in messages">
						<p><strong>{{msg._sender}}: </strong>{{msg.text}}</p>
						<small class="pull-right">{{msg.created_at | date:"h:mma 'on' MMM d, y"}}</small>
					</div>
				</div>
				<form name="message-form" novalidate>
					<textarea class="form-control message_input" required id="" cols="30" rows="3" ng-model="message.text" ng-focus="clrNotification()"></textarea>
					<button class="btn btn-primary pull-right" ng-click="sendMessage()">Send message</button>
				</form>
			</div>
		</div>
	</div>
</section>