<section class="section_user">
	<div class="container">
		<div class="col-md-4 sidebar user_sidebar sidebar_left box">
			<h4 class="sidebar_title">User details</h4>
			<table>
				<tbody>
					<tr>
						<td>Name:</td>
						<td>{{user.first_name}} {{user.last_name}}</td>
					</tr>
					<tr>
						<td>Age:</td>
						<td>{{user.age}}</td>
					</tr>
					<tr>
						<td>Location:</td>
						<td>{{user.location}}</td>
					</tr>
					<tr>
						<td>Experience:</td>
						<td>{{user.experience}}</td>
					</tr>
					<tr>
						<td>Degree:</td>
						<td>{{user.edu_degrees}}</td>
					</tr>
					<tr>
						<td>Career level:</td>
						<td>{{user.career_level}}</td>
					</tr>
					<tr>
						<td>Email:</td>
						<td>{{user.email}}</td>
					</tr>
					<tr>
						<td>Website</td>
						<td><a href="{{user.website}}">{{user.website}}</a></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="col-md-8 user_body rightside_body">
			<div class="box">
				<h3 class="user_name">{{user.first_name}} {{user.last_name}}</h3>
				<div class="user_title">{{user.title}}</div>

				<div class="user_socials">
					<small><a href="{{user.linkedin}}">LinkedIn</a></small> | 
					<small><a href="{{user.twitter}}">Twitter</a></small>
				</div>

				<div class="user_bio">{{user.bio}}</div>

				<div class="user_skills">
					<h4>Main Skills</h4>
					<div class="user_skill" ng-repeat="skill in user.skills">
						{{skill.name}}
						<div class="skill_bar_wrap">
							<div style="width: {{skill.score * 10}}%" class="skill_bar"></div>
						</div>
					</div>
				</div>

				<div class="user_other_skills">
					<h4>Other Skills</h4>
					<div class="other_skill" ng-repeat="skill in user.other_skills">{{skill.name}}</div>
				</div>
			</div>


			<div class="users_job">
				<h2>Job posted by {{user.first_name}} {{user.last_name}}</h2>

				<div class="job_single box" ng-repeat="job in userJobs | orderBy:'created_at':true" ng-class-odd="'odd'" ng-class-even="'even'"> 
		        <header>
		          <h4 class="job_title">{{job.title}}</h4>
		          <div class="job_company">{{job.company}}, {{job.location}}</div>
		        </header>
		        <p>{{job.description}}</p>
		        <small class="pull-right created_at">{{job.created_at | date:"h:mma 'on' MMM d, y"}}</small>
		        <small><a href="#/job/{{job._id}}">View Details</a></small>
		      </div>
			</div>

		</div>
	</div>
</section>