<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Dashboard | NewJob</title>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<nav class="navbar navbar-default">
    <div class="container header_container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-th"></span></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="#/">Home</a></li>
        </ul>
         <ul class="nav navbar-nav navbar-right">
          <li ng-hide="authenticated"><a href="#/login">Login</a></li>
          <li ng-hide="authenticated"><a href="#/register">Register</a></li>
          <li ng-show="authenticated"><a href="#/profile">{{current_user.username}}</a></li>
          <li ng-show="authenticated"><a href="" class="msg_noti" ng-click="goToMessages()">Messages<span ng-show="msgNotification" class="fa fa-exclamation"></span></a></li>
          <li ng-show="authenticated"><a href="#" ng-click="signOut()">Log out</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <section class="admin_dashboard">
  	<div class="container">
  		
  	</div>
  </section>
	<script src="js/jquery-1.12.0.min.js"></script>
  <script src="js/socket.io-1.4.3.js"></script>
  <script src="css/bootstrap/js/dropdown.js"></script>
	<script src="https://code.angularjs.org/1.5.0-beta.2/angular.min.js"></script>
  <script src="https://code.angularjs.org/1.5.0-beta.2/angular-route.min.js"></script>
  <script src="https://code.angularjs.org/1.5.0-beta.2/angular-resource.min.js"></script>
	<script src="https://code.angularjs.org/1.5.0-beta.2/angular-cookies.min.js"></script>
  <script src="js/app.js"></script>
  <script src="profile/profile.js"></script>
  <script src="job/job.js"></script>
  <script src="message/message.js"></script>
	<script src="admin/admin.js"></script>
</body>
</html>